@import "reset";

// Regular SCSS

$header-background: rgb(243, 240, 240);
$input-background: white;
$c-button: #596d48;
$fw-bold: 700;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $header-background;
  height: 100svh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;

  font-size: 1.25rem;
  font-weight: $fw-bold;
  min-height: 50%;
  max-width: 40rem;
  margin-bottom: 2.5rem;

  * {
    margin-left: 3rem;
  }

  span {
    margin: 0;
  }
}

form {
  min-height: 80%;

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    background-color: $input-background;
    padding: 2rem 0 2rem 3rem;
    box-shadow: 0px 2px 5px rgb(209, 209, 209);

    h1 {
      font-weight: $fw-bold;
      font-size: 1.25rem;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      text-transform: uppercase;
      font-size: 0.8rem;
    }

    input {
      width: 15rem;
      height: 1.5rem;
      border: 1.5px solid #e5e7eb;
      border-radius: 5px;

      padding: 5px;
      outline: none;

      &:focus {
        border: 1.5px solid blue;
        box-shadow: 1px 3px 5px rgb(209, 209, 209);
      }
    }
  }

  .submit {
    button {
      border: none;
      border-radius: 5px;
      padding: 0.8rem 2.5rem;
      margin: 2rem 0;
      cursor: pointer;
      background-color: $c-button;
      box-shadow: 1px 3px 5px rgb(209, 209, 209);
      color: white;
      font-weight: $fw-bold;
    }

    p {
      font-weight: $fw-bold;
    }

    span {
      cursor: pointer;
      color: $c-button;
    }

    button,
    p {
      margin-left: 3rem;
    }
  }
}

.italize {
  font-style: italic;
}
